name: Build & Push to Multiple Registries

on:
  push:
    tags:
      - "v*.*.*"   # Auto build khi push tag semantic version
  workflow_dispatch:  # Cho manual running

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # --- LOGIN TO DOCKER HUB ---
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --- LOGIN TO GHCR ---
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # BUILD & PUSH TO MULTIPLE REGISTRIES
      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64

          tags: |
            # Docker Hub
            ${{ secrets.DOCKERHUB_USERNAME }}/skywirex/teleshake:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/skywirex/teleshake:${{ github.ref_name }}

            # GHCR
            ghcr.io/${{ github.repository_owner }}/skywirex/teleshake:latest
            ghcr.io/${{ github.repository_owner }}/skywirex/teleshake:${{ github.ref_name }}